@media screen and (min-width: 768px) {
body {
	margin: 1.5em;
}
}

@media screen and (max-width: 479px) {
	#website {
		font-size: 1.75em;
	}
}

h1, h2, h3, p {
	font-family: 'Tajawal', sans-serif;
	display: block; 
	text-align: center;
	margin: .7em;
}

@media screen and (min-width: 768px) {
.center {
	margin: 0 auto;
	width: 700px;
}
}

p {
	display: block;
	text-align: left;
	font-size: 1.25em;
	line-height: 1.625em;
}

.list {
	font-family: 'Tajawal', sans-serif;
	font-size: 1.25em;
	line-height: 1.625em;
}

.btn-container { 
	display: block; 
	text-align: center;
} 

div.pages, div.pages .list, div.footer, div.footer .list {
	display: inline;
	line-height: 30px;	
}

div.pages .list a { 
	display: inline-block;
	letter-spacing: 0.125em;
	font-family: 'Tajawal', sans-serif;
	font-size: 1.25em;
	margin: .7em;
	padding: .6em 1.2em .6em 1.2em;
	text-align: center;
	color: #000;
	text-decoration: none;
	border: solid .2em;
	border-color: #333a56; 
	height: 100%;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

div.footer .list a { 
	display: inline-block;
	letter-spacing: 0.125em;
	font-size: 1.125em;
	margin: .7em;
	padding: .3em 1.2em .3em 1.2em;
	text-align: center;
	color: #000;
	text-decoration: none;
	height: 100%;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

div.pages .list a:hover, div.pages .list.selected a, div.pages .list.selected a:hover { 
	color: #fff;
	background-color: #333a56;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: .125em;
    border-bottom: solid .2em;
	border-color: #52658f;  
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

a {
	display: block; 
	text-align: center;
	margin: .7em;
	font-family: 'Tajawal', sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1em;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: 1.4em 0 .7em 0;
}

.grid_item {
	background: #ebebeb;
	background-size: cover;
	display: inline-block;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.grid_link:hover {
	background-color: rgba(255,255,255,.4);
	-webkit-transition: ease-in-out .5s; /* Safari */
	transition: ease-in-out .5s;
}

.grid_link:hover .tile {
	background-color: rgba(0,0,0,1);
	-webkit-transition: ease-in-out .5s; /* Safari */
	transition: ease-in-out .5s;
}

.grid_link {
	display: block;
	color: #000;
	margin: .0625em;
}

.tile {
	position: absolute;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	line-height: 50px;
	padding: 5px;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.tile p {
	font-family: 'Tajawal', sans-serif;
	font-size: 1.25em;
	text-align: center;
	letter-spacing: 0.125em;
}

@media all and (min-width: 320px) and (max-width: 640px) {
.tile p {
	font-size: 1.125em;
}
}

@media all and (max-width: 320px) {
	.span {
		width: 100%;
	}
	  
	.span .grid_link  {
		padding-bottom: 80%;
	}
}
	
@media all and (min-width: 321px) and (max-width: 480px) {
	.span {
		width: 50%;
	}
	
	.span .grid_link  {
		padding-bottom: 80%;
	}
		
	.one-center {
		width: 100%;
	}
}
	
@media all and (min-width: 481px) and (max-width: 767px) {
	.span {
		width: 33.3%;
	}

	.span .grid_link  {
		padding-bottom: 80%;
	}

	.two-center {
		margin: auto;
		width: 50%;
	}
	
	.one-center {
		margin: auto;
		width: 66.7%;
	}
}
	  
@media all and (min-width: 768px) and (max-width: 1439px){
	.span {
		width: 33.3%;
	}
	
	.span .grid_link {
		padding-bottom: 60%;
	}

	.two-center {
		margin: auto;
		width: 50%;
	}
	
	.one-center {
		margin: auto;
		width: 50%;
	}
}

@media all and (min-width: 1440px) {
	.span {
		width: 25%;
	}
		
	.span .grid_link {
		padding-bottom: 50%;
	}
	
	.three-center {
		margin-left: 12.5%;
		margin-right: -12.5%;
		width: 25%;
	}

	.two-center {
		margin-left: 16.7%;
		margin-right: -16.7%;
		width: 33.3%;
	}
		
	.one-center {
		margin: auto;
		width: 33.3%;
	}
}